---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
const lwbVersion = import.meta.env.PUBLIC_LWB_VERSION;
---

<Layout>
	<p>lwbVersion is {lwbVersion}</p>
	<Welcome />
</Layout>
