---
const { itemsProp=[] } = Astro.props;
const jsonItems = JSON.stringify(itemsProp);
---

<div
    x-data="{ open: false, items: JSON.parse($el.dataset.itemx)}" data-itemx={jsonItems}
    @click.away="open = false"
    class="relative inline-block text-left"
>
    <button
        x-on:click="open = !open"
        class="inline-flex justify-center w-full rounded-md bg-gray-800 px-4 py-2 text-sm font-medium text-white hover:bg-gray-700 focus:outline-none"
    >
        Toggle Dropdown
    </button>
    <div
        x-show="open"
        x-transition
        class="absolute left-0 z-10 mt-2 w-48 origin-top-left rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none border border-gray-200"
    >
        <template x-for="item in items" :key="item">
            <a
                href="#"
                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                @click="console.log(item)"
                x-text="item"
            ></a>
        </template>
    </div>
</div>