---
import Menu from "../components/Menu.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="pl">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />

		<!-- Legacy support -->
		<link rel="icon" href="/favicon.ico" type="image/x-icon" />

		<!-- Modern PNG favicons -->
		<link
			rel="icon"
			type="image/png"
			sizes="32x32"
			href="/favicon-32x32.png"
		/>
		<link
			rel="icon"
			type="image/png"
			sizes="16x16"
			href="/favicon-16x16.png"
		/>

		<!-- Apple and PWA support -->
		<link
			rel="apple-touch-icon"
			sizes="180x180"
			href="/apple-touch-icon.png"
		/>
		<link rel="manifest" href="/site.webmanifest" />
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
		<meta name="theme-color" content="#ffffff" />
		<meta name="generator" content={Astro.generator} />
		<script data-goatcounter="https://lwb.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>
		    <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/collapse@3.x.x/dist/cdn.min.js"></script>

		<title></title>
	</head>
</html>
<body>
	<menu>
		<Menu />
	</menu>
	<slot />
</body>
